.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sep-item {
  margin-bottom: .5em;
}

.sep-section {
  margin-bottom: 1em;
}

.validity-section {
  display: flex;
  align-items: center;
}

.create-proposal-form {
  outline: none;
}
.create-proposal-form-input > input {
  margin-right: .2em;
  height: 2.4em;
  border-radius: 4px;
  outline: none;
}

.create-proposal-form-input > button {
  cursor: pointer;
  height: calc(2.4em + 6px);
  border-radius: 4px;
  width: 5em;
  outline: none;
}

.create-proposal-form-message {
  height: 2em;
}

.rectangle-line-styling {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: .2em;
    width: 95%;
    font-size: .8em;
    margin-top: .5em;
    box-shadow: 1px 1px 3px 3px #eeeeee24;
}

.rectangle-view-styling {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 .5em;
    overflow: auto;
}

.item-name-styling {
    font-weight: 600;
    width: 7em;
    float: left;
    text-align: left;
}

.item-value-styling {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 8em);
    white-space: nowrap;
    float: left;
    text-align: left;
}

.check-validity-button-styling {
    background: white;
    border-radius: 5px;
    cursor: pointer;
    height: 3em;
    outline: none;
    width: 14em
}

.component-style {
    border: 1px solid white;
    width: 30em;
    height: 15em;
}

.main-style {
    overflow: scroll;
    max-height: 13em;
}

.radio-style {
    cursor: pointer;
    margin: 0 1em 0.7em 1em;
    transform: scale(1.5);
}

.chat-style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 .5em;
    overflow: auto;
}

.chat-line-style {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
